<%- include('partials/header.ejs') %>

<section class="p-5 mx-auto my-auto">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col col-9">1</div>
      <div class="col">
        <form action="/register" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" name="username" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input type="email" name="email" class="form-control" />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input type="password" name="password" class="form-control" />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" />
            <label class="form-check-label" for="exampleCheck1"
              >Rember Me</label
            >
          </div>
          <button type="submit" class="btn mx-2 btn-primary">Register</button>
          <div class="container mt-3">
            <div class="h6">OR</div>
            <a href="/login" class="btn btn-light">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>
